<% include header.ejs %>

<div class="well jumbotron">
  <h1><%= title %></h1>
  <p>upload your file</p>
  <form name="upload" id="upload" method="post" enctype="multipart/form-data" action="/">
    <p><input class="btn btn-lg btn-default" type="file" name="file" /></p>
    <p><input class="btn btn-primary btn-lg" type="submit" value="Submit" /></p>
  </form>
  <a href="http://104.236.161.186:3000/sample.zip">sample</a>
</div>

<% include footer.ejs %>